$grid-columns: 24;

.App {
	text-align: center;
}

div.full-screen-flex {
	display: flex;
	width: 100vw;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

div.card.message-card {
	background-color: #e7f5fd;
}

td.auto-pay > i {
	color: #4bb563;
}

.fix-row {
	width: 26rem !important;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
